<section class="">
    <div class="relative overflow-hidden w-full dark:border-gray-700 dark:bg-gray-900">
        <div class="px-6 py-8 overflow-visible sm:px-6 sm:py-20">
            <div class="max-w-2xl mx-auto text-center">
                <h2 class="text-base font-semibold text-[#71CF48] dark:text-pink-300 tracking-wide uppercase fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Unlock Your Potential
                Today</h2>
                <p
                class="mt-1 text-4xl font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl sm:tracking-tight lg:text-6xl fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
                Discover
                <span class="px-2 py-1 relative inline-block"><svg class="stroke-current bottom-0 absolute text-[#71CF48] -translate-x-2" viewBox="0 0 410 18" xmlns="http://www.w3.org/2000/svg"><path d="M6 6.4c16.8 16.8 380.8-11.2 397.6 5.602" stroke-width="12" fill="none" fill-rule="evenodd" stroke-linecap="round"></path></svg><span class="relative">Your True Potential</span></span>
                </p>
                <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">Take the leap and unleash your
                capabilities. Experience
                one week of unlimited access on us and witness the transformation.</p>
                <div class="relative overflow-visible z-10 flex flex-col items-center py-4 justify-center fade-in opacity-0 transform translate-y-10 transition-all duration-500 ease-in-out min-[320px]:items-center min-[320px]:justify-center space-y-3 min-[320px]:pl-22">
                    <button class="rgb-button rounded-full bg-indigo-500 shadow-lg transform transition-transform duration-300 hover:scale-110">
                        <a class="text-lg font-semibol hover:saturate-150 transition rounded-lg p-8 py-3 px-7 block sm:w-auto w-full text-white" href="https://api.whatsapp.com/send/?phone=7761076024">
                            <div class="flex gap-3 justify-center items-center">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="w-5 h-5">
                                        <g id="WA_Logo">
                                            <g>
                                                <path style="fill-rule:evenodd;clip-rule:evenodd;" stroke-linecap="round" stroke-linejoin="round" d="M20.463,3.488C18.217,1.24,15.231,0.001,12.05,0    C5.495,0,0.16,5.334,0.157,11.892c-0.001,2.096,0.547,4.142,1.588,5.946L0.057,24l6.304-1.654    c1.737,0.948,3.693,1.447,5.683,1.448h0.005c6.554,0,11.89-5.335,11.893-11.893C23.944,8.724,22.708,5.735,20.463,3.488z     M12.05,21.785h-0.004c-1.774,0-3.513-0.477-5.031-1.378l-0.361-0.214l-3.741,0.981l0.999-3.648l-0.235-0.374    c-0.99-1.574-1.512-3.393-1.511-5.26c0.002-5.45,4.437-9.884,9.889-9.884c2.64,0,5.122,1.03,6.988,2.898    c1.866,1.869,2.893,4.352,2.892,6.993C21.932,17.351,17.498,21.785,12.05,21.785z M17.472,14.382    c-0.297-0.149-1.758-0.868-2.031-0.967c-0.272-0.099-0.47-0.149-0.669,0.148s-0.767,0.967-0.941,1.166    c-0.173,0.198-0.347,0.223-0.644,0.074c-0.297-0.149-1.255-0.462-2.39-1.475c-0.883-0.788-1.48-1.761-1.653-2.059    s-0.018-0.458,0.13-0.606c0.134-0.133,0.297-0.347,0.446-0.521C9.87,9.97,9.919,9.846,10.019,9.647    c0.099-0.198,0.05-0.372-0.025-0.521C9.919,8.978,9.325,7.515,9.078,6.92c-0.241-0.58-0.486-0.501-0.669-0.51    C8.236,6.401,8.038,6.4,7.839,6.4c-0.198,0-0.52,0.074-0.792,0.372c-0.272,0.298-1.04,1.017-1.04,2.479    c0,1.463,1.065,2.876,1.213,3.074c0.148,0.198,2.095,3.2,5.076,4.487c0.709,0.306,1.263,0.489,1.694,0.626    c0.712,0.226,1.36,0.194,1.872,0.118c0.571-0.085,1.758-0.719,2.006-1.413c0.248-0.694,0.248-1.29,0.173-1.413    C17.967,14.605,17.769,14.531,17.472,14.382z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <span class="text-md">Cotizar ahora</span>
                            </div>
                        </a>
                    </button>
                </div> 
            </div>   
        </div>
    
        <div class="absolute inset-0 overflow-hidden pointer-events-none">
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100"
            style="animation-delay: 0.2s; top: 5%; left: 5%;"
            src="/src/icons/bateria-3d-blend.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-125 hover:opacity-100"
            style="animation-delay: 0.6s; top: 5%; right: 5%;"
            src="/src/icons/coin-3d-blend2.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100"
            style="animation-delay: 0.8s; top: 45%; left: 15%;"
            src="/src/icons/lapiz-3d-blend-agle1.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100"
            style="animation-delay: 1.2s; top: 45%; right: 15%;"
            src="/src/icons/mobile.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-125 hover:opacity-100"
            style="animation-delay: 1.4s; top: 85%; left: 5%;"
            src="/src/icons/coin-3d-blend2.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100"
            style="animation-delay: 1.8s; top: 85%; right: 5%;"
            src="/src/icons/shield-3d-blend.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100 hidden md:block"
            style="animation-delay: 2.0s; top: 25%; left: 30%;"
            src="/src/icons/calculadora-3d-blend.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 hover:opacity-100 dark:brightness-100 hidden md:block"
            style="animation-delay: 2.2s; top: 65%; right: 30%;"
            src="/src/icons/dolares-3d-blend1.png"
            alt="AI Icon"
            />
        </div>
        <svg viewBox="0 0 1024 1024"
        class="absolute overflow-hidden inset-0 left-1/2 top-1/2 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
        aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7">
        </circle>
        <defs>
            <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
                <stop stop-color="#71CF48"></stop>
                <stop offset="1" stop-color="#71CF48"></stop>
            </radialGradient>
        </defs>
    </svg>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const revealContainers = document.querySelectorAll('.fade-in');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if(entry.isIntersecting) {
                    entry.target.classList.remove('opacity-0', 'translate-y-10');
                    entry.target.classList.add('opacity-100', 'translate-y-0');
                }
            });
            }, {
                threshold: 0.1
            });
            revealContainers.forEach(container => {
                observer.observe(container);
            });
        });
</script>



<style>
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .animate-float {
        animation: float 6s ease-in-out infinite;
    }

    .rgb-button {
            background: linear-gradient(45deg, #ffee00, #00ff00, #0000ff);
            background-size: 600% 600%;
            animation: gradient 6s ease infinite;
        }

        @keyframes gradient {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

</style>

<!-- 
<div class="p-6">
    <div class="mx-auto">
        <div class="relative z-20 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4"
            style="background-image: linear-gradient(to left bottom, #f87171, #f55979, #ee4085, #e12896, #cb18a9, #bd12b5, #aa16c1, #921fce, #881ed5, #7d1fdc, #6e21e3, #5c24eb);">
            <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-8 lg:py-16 lg:pr-0">
                <div class="lg:self-center">
                    <h2 class="text-3xl leading-9 font-extrabold text-white sm:text-4xl sm:leading-10">
                        <span class="block">This is a title for your call to action card</span>
                    </h2>
                    <p class="mt-4 text-base leading-6 text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="mt-4 text-base leading-6 text-dark-blue-800">
                    </p>
                    <a href="#" target="_blank" style="background-color: #000"
                        class="mt-8 border border-transparent rounded-md shadow px-6 py-3 inline-flex items-center text-base leading-6 font-medium  text-white transition duration-150 ease-in-out">
                        Get started
                    </a>
                    <a href="#" target="_blank" class="ml-4 mt-8 text-white font-bold text-sm underline">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="relative pb-3/5 -mt-6 md:pb-1/2">
                <img class="absolute inset-0 w-full h-full transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-10 lg:translate-y-20"
                src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw5fHxsYXB0b3B8ZW58MHwwfHx8MTY5NzQ0ODQ4M3ww&ixlib=rb-4.0.3&q=80&w=1080">
            </div>
        </div>
    </div>
</div>
-->