<section class="bg-white dark:bg-gray-900 place-items-center min-[260px]:h-[970px] min-[390px]:h-[960px] min-[560px]:h-[950px] sm:h-[990px] md:h-[570px] xl:h-[620px]">
    <div class="mx-auto w-full grid grid-cols-1 xl:gap-16 xl:text-wrap sm:max-w-5xl min-[260px]:max-w-4xl min-[390px]:max-w-4xl min-[260px]:text-center min-[260px]:place-items-center min-[390px]:text-center min-[390px]:place-items-center min-[560px]:text-center min-[560px]:place-items-center sm:text-center sm:place-items-center md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 items-center max-w-screen-xl">
        <div class="xl:w-[550px] lg:w-[550px] md:w-[550px]  sm:w-[550px]">
            <div class="image object-center text-center fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">
                <img src="/img-arg-3.png" class="h-[590px] w-[830px] object-cover ">
            </div>
        </div>
        <div class="xl:w-[540px] lg:w-[500px] md:w-[450px] sm:w-1/2 p-7 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">
            <div class="text">
                <span class="text-gray-500 border-b-2 border-[#71CF48] uppercase">About us</span>
                <h2 class="my-4 font-bold text-3xl text-slate-900 dark:text-gray-100  sm:text-4xl ">About <span class="text-[#71CF48]">Our Company</span>
                </h2>
                <p class="text-gray-700 dark:text-slate-200 leading-relaxed max-w-xl">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi
                    doloremque, fugiat illum magni minus nisi nulla numquam obcaecati placeat quia, repellat tempore
                    voluptatum.
                </p>
            </div>
        </div>
    </div>
    
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const revealContainers = document.querySelectorAll('.fade-in');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if(entry.isIntersecting) {
                    entry.target.classList.remove('opacity-0', 'translate-y-10');
                    entry.target.classList.add('opacity-100', 'translate-y-0');
                }
            });
            }, {
                threshold: 0.1
            });
            revealContainers.forEach(container => {
                observer.observe(container);
            })
        });
</script>



<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
</style>