<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

<section id="new-features" class="py-8 bg-white dark:bg-gray-900 min-[560px]:h-[1680px] sm:h-[1130px] md:h-[1025px] lg:h-[1020px] xl:h-[1000px]">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-center">
        <h2 class="text-3xl font-bold leading-tight text-gray-900 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out dark:text-gray-50 sm:text-4xl xl:text-5xl">
            Nuestros Servicios </h2>
        <p class="mt-4 text-base leading-7 text-gray-600 dark:text-gray-100 sm:mt-8 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">
            Enhance your workflow with advanced features
        </p>
        </div>
        <div
        class="grid grid-cols-1 mt-10 text-center sm:mt-16 sm:grid-cols-2 sm:gap-x-12 gap-y-12 md:grid-cols-3 md:gap-0 xl:mt-24">
        <!-- Feature 1 -->
        <div class="md:p-8 lg:p-14 flex flex-col justify-center items-center">
            <div class="w-14 h-14 rounded-full flex justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
                <svg class="w-12 h-12 sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 12L11 14L15 10M12 3L13.9101 4.87147L16.5 4.20577L17.2184 6.78155L19.7942 7.5L19.1285 10.0899L21 12L19.1285 13.9101L19.7942 16.5L17.2184 17.2184L16.5 19.7942L13.9101 19.1285L12 21L10.0899 19.1285L7.5 19.7942L6.78155 17.2184L4.20577 16.5L4.87147 13.9101L3 12L4.87147 10.0899L4.20577 7.5L6.78155 6.78155L7.5 4.20577L10.0899 4.87147L12 3Z" stroke="#71CF48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <h3 class="mt-12 text-xl font-bold text-gray-900 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Advanced Analytics</h3>
            <p class="mt-5 text-base text-gray-600 dark:text-gray-400 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Track and analyze your data with powerful analytics tools. Gain valuable
            insights for better decision-making.</p>
        </div>

        <!-- Feature 2 -->
        <div class="md:p-8 lg:p-14 border-gray-200 dark:border-gray-500 md:border-l md:border-gray-200 flex flex-col justify-center items-center ">
            <div class="w-14 h-14 rounded-full flex justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
                <svg class="w-12 h-12 sm:mx-0" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" fill="#71CF48" version="1.1" viewBox="0 0 32 32" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4.928,18.985c-1.656,0 -3,1.345 -3,3c-0,1.656 1.344,3 3,3c-0,0 2,0 2,0c0.552,0 1,0.448 1,1c-0,0.552 -0.448,1 -1,1l-3,0c-0.552,0 -1,0.448 -1,1c-0,0.552 0.448,1 1,1l1.008,0l-0,1c-0,0.552 0.448,1 1,1c0.552,0 1,-0.448 1,-1l-0,-1c1.652,-0.004 2.992,-1.347 2.992,-3c-0,-1.655 -1.345,-3 -3,-3c-0,0 -2,0 -2,0c-0.552,0 -1,-0.448 -1,-1c-0,-0.552 0.448,-1 1,-1c-0,0 3,0 3,0c0.552,0 1,-0.448 1,-1c-0,-0.552 -0.448,-1 -1,-1l-1,0l-0,-0.985c-0,-0.552 -0.448,-1 -1,-1c-0.552,0 -1,0.448 -1,1l-0,0.985Z"/><path d="M7.006,11.008l18.004,0.025l0,16.954c0,0.553 -0.448,1 -1,1l-12.008,0c-0.552,0 -1,0.449 -1,1c-0,0.552 0.448,1 1,1l12.008,0c1.657,0 3,-1.343 3,-3c0,-5.154 0,-18.848 0,-24.003c0,-1.657 -1.343,-3 -3,-3l-16.004,-0c-1.657,-0 -3,1.343 -3,3c-0,3.417 -0,10.016 -0,10.016c-0,0.552 0.448,1 1,1c0.552,0 1,-0.448 1,-1l-0,-2.992Zm18.004,-1.975l0,-5.049c0,-0.552 -0.448,-1 -1,-1c0,-0 -16.004,-0 -16.004,-0c-0.553,-0 -1,0.448 -1,1l-0,5.024l18.004,0.025Z"/><path d="M23,26l0,-4.015c0,-0.552 -0.448,-1 -1,-1c-0.552,0 -1,0.448 -1,1l-0,4.015c0,0.552 0.448,1 1,1c0.552,-0 1,-0.448 1,-1Z"/><circle cx="10.019" cy="13.949" r="1.25"/><circle cx="14" cy="13.949" r="1.25"/><circle cx="14" cy="17.949" r="1.25"/><circle cx="14" cy="21.949" r="1.25"/><circle cx="14" cy="25.949" r="1.25"/><circle cx="17.981" cy="13.949" r="1.25"/><circle cx="17.981" cy="17.949" r="1.25"/><circle cx="17.981" cy="21.949" r="1.25"/><circle cx="17.981" cy="25.949" r="1.25"/><circle cx="21.962" cy="13.949" r="1.25"/><circle cx="21.962" cy="17.949" r="1.25"/><g id="Icon"/></svg>
            </div>
            <h3 class="mt-12 text-xl font-bold text-gray-900 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Fast Integration</h3>
            <p class="mt-5 text-base text-gray-600 dark:text-gray-400 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Seamlessly integrate with your existing tools and systems for a smooth
            workflow experience.</p>
        </div>

        <!-- Feature 3 -->
        <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 border-gray-200 dark:border-gray-500 flex flex-col justify-center items-center">
            <div class="w-14 h-14 rounded-full flex justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
                <svg class="w-12 h-12 sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 6C20 6 19.1843 6 19.0001 6C16.2681 6 13.8871 4.93485 11.9999 3C10.1128 4.93478 7.73199 6 5.00009 6C4.81589 6 4.00009 6 4.00009 6C4.00009 6 4 8 4 9.16611C4 14.8596 7.3994 19.6436 12 21C16.6006 19.6436 20 14.8596 20 9.16611C20 8 20 6 20 6Z" stroke="#71CF48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <h3 class="mt-12 text-xl font-bold text-gray-900 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Security First</h3>
            <p class="mt-5 text-base text-gray-60 dark:text-gray-400 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Ensure the safety of your data with top-notch security features. Your
            privacy is our priority.</p>
        </div>

        <!-- Feature 4 -->
        <div class="md:p-8 lg:p-14 md:border-t md:border-gray-200 border-gray-200 dark:border-gray-500 flex flex-col justify-center items-center">
            <div class="w-14 h-14 rounded-full bg-red-200 flex justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
            <i class="fa-solid fa-cloud text-3xl text-gray-900"></i>
            </div>
            <h3 class="mt-12 text-xl font-bold text-gray-900 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Cloud Integration</h3>
            <p class="mt-5 text-base text-gray-600 dark:text-gray-400 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Access your data from anywhere with seamless cloud integration. Work
            without boundaries.</p>
        </div>

        <!-- Feature 5 -->
        <div class="md:p-8 lg:p-14 border-gray-200 dark:border-gray-500  md:border-l md:border-gray-200 md:border-t flex flex-col justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">
            <div class="w-14 h-14 rounded-full bg-green-200 flex justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
            <i class="fa-solid fa-pen-nib text-3xl text-gray-900"></i>
            </div>
            <h3 class="mt-12 text-xl font-bold text-gray-900 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Task Management</h3>
            <p class="mt-5 text-base text-gray-600 dark:text-gray-400 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Organize your workflow with efficient task management features. Stay on
            top of your projects effortlessly.</p>
        </div>

        <!-- Feature 6 -->
        <div class="md:p-8 lg:p-14  md:border-l md:border-gray-200 border-gray-200 dark:border-gray-500 md:border-t flex flex-col justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">
            <div class="w-14 h-14 rounded-full bg-orange-200 flex justify-center items-center fade-in opacity-0 transform translate-y-10 transition-all duration-600 ease-in-out">
            <i class="fa-solid fa-bolt text-3xl text-gray-900"></i>
            </div>
            <h3 class="mt-12 text-xl font-bold text-gray-900 dark:text-gray-300 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Performance Metrics</h3>
            <p class="mt-5 text-base text-gray-600 dark:text-gray-400 fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out">Monitor and measure your performance with comprehensive metrics.
            Optimize your processes for maximum efficiency.</p>
        </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const revealContainers = document.querySelectorAll('.fade-in');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if(entry.isIntersecting) {
                    entry.target.classList.remove('opacity-0', 'translate-y-10');
                    entry.target.classList.add('opacity-100', 'translate-y-0');
                }
            });
            }, {
                threshold: 0.1
            });
            revealContainers.forEach(container => {
                observer.observe(container);
            });
        });
</script>


<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
</style>


<!-----
<div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
    <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900">Services</h2>
    <p class="mb-12 text-lg text-gray-500">Here is a few of the awesome Services we provide.</p>
    <div class="w-full">
        <div class="flex flex-col w-full mb-10 sm:flex-row">
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-green-300 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">DAPP Development</h3>
                        </div>
                        <p class="mt-3 mb-1 text-xs font-medium text-indigo-500 uppercase">------------</p>
                        <p class="mb-2 text-gray-600">A decentralized application (dapp) is an application built on a
                            decentralized network that combines a smart contract and a frontend user interface.</p>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="relative h-full ml-0 md:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-gray-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-gray-300 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Web 3.0 Development</h3>
                        </div>
                        <p class="mt-3 mb-1 text-xs font-medium text-purple-500 uppercase">------------</p>
                        <p class="mb-2 text-gray-600">Web 3.0 is the third generation of Internet services that will
                            focus on understanding and analyzing data to provide a semantic web.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full mb-5 sm:flex-row">
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-blue-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-blue-300 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Project Audit</h3>
                        </div>
                        <p class="mt-3 mb-1 text-xs font-medium text-blue-400 uppercase">------------</p>
                        <p class="mb-2 text-gray-600">A Project Audit is a formal review of a project, which is intended
                            to assess the extent up to which project management standards are being upheld.</p>
                    </div>
                </div>
            </div>
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-yellow-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-yellow-400 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Hacking / RE</h3>
                        </div>
                        <p class="mt-3 mb-1 text-xs font-medium text-yellow-400 uppercase">------------</p>
                        <p class="mb-2 text-gray-600">A security hacker is someone who explores methods for breaching
                            defenses and exploiting weaknesses in a computer system or network.</p>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="relative h-full ml-0 md:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-green-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Bot/Script Development</h3>
                        </div>
                        <p class="mt-3 mb-1 text-xs font-medium text-green-500 uppercase">------------</p>
                        <p class="mb-2 text-gray-600">Bot development frameworks were created as advanced software tools
                            that eliminate a large amount of manual work and accelerate the development process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
--- -->
