<section class="bg-white dark:bg-gray-900 lg:h-[620px] xl:h-[600px]">
    <div class="relative bg-white dark:bg-gray-900 container mx-auto px-4 py-8">
        <div class="relative wrap overflow-hidden ">
            <div class="border-2-2 absolute border-opacity-10 bg-slate-400 dark:border-slate-500 h-full border left-1/2"></div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="z-20 flex items-center order-1 bg-[#71CF48] shadow-xl w-12 h-12 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
                </div>
                <div class="order-1 bg-gray-200 dark:bg-gray-700 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-gray-800 dark:text-gray-100 text-xl">Event Title</h3>
                    <p class="text-gray-700 dark:text-gray-200 leading-tight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum in nisi commodo, aliquet velit ac, dapibus elit.</p>
                </div>
            </div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="z-20 flex items-center order-1 bg-[#71CF48] shadow-xl w-12 h-12 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">2</h1>
                </div>
                <div class="order-1 bg-gray-200 dark:bg-gray-700 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-gray-800 dark:text-gray-100 text-xl">Event Title</h3>
                    <p class="text-gray-700 dark:text-gray-200 leading-tight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum in nisi commodo, aliquet velit ac, dapibus elit.</p>
                </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="z-20 flex items-center order-1 bg-[#71CF48] shadow-xl w-12 h-12 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
                </div>
                <div class="order-1 bg-gray-200 dark:bg-gray-700 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-gray-800 dark:text-gray-100 text-xl">Event Title</h3>
                    <p class="text-gray-700 dark:text-gray-200 leading-tight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum in nisi commodo, aliquet velit ac, dapibus elit.</p>
                </div>
            </div>
        </div>
    
        <div class="absolute inset-0 overflow-hidden pointer-events-none">
            <img
            class="absolute w-16 h-16 scale-125 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100"
            style="animation-delay: 0.2s; top: 5%; left: 15%;"
            src="/src/icons/coin-3d-blend2.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 scale-125 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-125 hover:opacity-100"
            style="animation-delay: 0.6s; top: 40%; right: 20%;"
            src="/src/icons/3d-folder.png"
            alt="AI Icon"
            />
            <img
            class="absolute w-16 h-16 scale-125 transition-all duration-1000 animate-float opacity-75 dark:opacity-100 dark:brightness-100 hover:opacity-100"
            style="animation-delay: 0.8s; top: 73%; left: 25%;"
            src="/src/icons/3d-billetera-blend.png"
            alt="AI Icon"
            />
        </div>
    </div>
</section>
