<section class="bg-white dark:bg-gray-900 ">
    <section class="max-w-6xl mx-auto w-full min-[260px]:h-[1810px] min-[390px]:h-[1790px] min-[560px]:h-[1760px] sm:h-[1760px] md:h-[1540px] md:max-w-4xl lg:h-[1540px] lg:max-w-5xl xl:h-[1200px] xl:max-w-7xl px-10 bg-white dark:bg-gray-900 dark:text-white">
        <div class="flex items-center justify-center flex-col gap-y-2 py-5">
        <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">Testimonios</h2>
        <p class="text-lg font-medium text-gray-500/70 dark:text-gray-400">Discover how our service can benefit you</p>
        </div>
        <div class="mx-auto grid grid-cols-1 md:grid-cols-5 lg:grid-cols-5 gap-5 md:gap-6 sm:max-w-[430px] md:max-w-[560px] xl:max-w-[850px] w-full">
        <div
            class="border-[1px] p-7 rounded-xl fade-in opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out dark:border-[1px] dark:border-gray-600 hover:duration-300 hover:scale-105 hover:bg-gray-50 overflow-hidden bg-white dark:bg-gray-700  shadow-xl border-neutral-200/50 col-span-2 flex flex-col gap-y-10 justify-between">
            <div class="flex flex-col gap-y-3.5">
            <p class="font-bold text-xl">Brilliant house to rent</p>
            <p class="font-normal text-gray-500/90 dark:text-gray-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel molestias tempora dignissimos ad iusto sit ipsum accusantium praesentium commodi? 
                Esse sequi repellat eum eligendi.</p>
            </div>
            <div class="flex flex-col">
            <img src="https://randomuser.me/api/portraits/women/54.jpg" alt="Jane Cooper" class="h-12 w-12 rounded-full">
            <p class="pt-2 text-sm font-semibold">Jane Cooper</p>
            <p class="text-sm font-normal text-slate-700/70 dark:text-gray-400">CEO at ABC Corporation</p>
            </div>
        </div>
        <div
            class="border-[1px] p-7 rounded-xl fade-in opacity-0 transform translate-y-10 transition-all duration-700 dark:border-[1px] dark:border-gray-600 hover:duration-300 hover:scale-105 overflow-hidden bg-white dark:bg-gray-700 hover:bg-gray-50  ease-in-out shadow-xl border-neutral-200/50 col-span-3 flex flex-col gap-y-10 justify-between">
            <div class="flex flex-col gap-y-3.5">
            <p class="font-bold text-xl">Efficient customer support</p>
            <p class="font-normal text-gray-500/90 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolorum ex fuga mollitia quam earum architecto perspiciatis expedita, iste quibusdam, quod aut delectus maiores. Nulla nam quasi hic maxime dolor distinctio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, 
            recusandae!</p>
            </div>
            <div class="flex flex-col">
            <img src="https://randomuser.me/api/portraits/women/30.jpg" alt="John Doe" class="h-12 w-12 rounded-full">
            <p class="pt-2 text-sm font-semibold">Emily Smith</p>
            <p class="text-sm font-normal text-slate-700/70 dark:text-gray-400">Marketing Manager at ABC Company</p>
            </div>
        </div>
        <div
            class="border-[1px] p-7 rounded-xl fade-in opacity-0 transform translate-y-10 transition-all duration-700 dark:border-[1px] dark:border-gray-600 hover:duration-300 hover:scale-105 overflow-hidden bg-white dark:bg-gray-700 hover:bg-gray-50 ease-in-out shadow-xl border-neutral-200/50 col-span-3 flex flex-col gap-y-10 justify-between">
            <div class="flex flex-col gap-y-3.5">
            <p class="font-bold text-xl">Seamless integration process</p>
            <p class="font-normal text-gray-500/90 dark:text-gray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam omnis, 
                repellat quos dolores odio voluptate, impedit, ab facilis obcaecati fugiat possimus quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fuga, 
                dolor veritatis voluptate ullam similique. Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="flex flex-col">
            <img src="https://randomuser.me/api/portraits/women/90.jpg" alt="Jane Doe" class="h-12 w-12 rounded-full">
            <p class="pt-2 text-sm font-semibold">Sarah Brown</p>
            <p class="text-sm font-normal text-slate-700/70 dark:text-gray-400">CTO at XYZ Corporation</p>
            </div>
        </div>
        <div
            class="border-[1px] p-7 rounded-xl fade-in opacity-0 transform translate-y-10 transition-all duration-700 dark:border-[1px] dark:border-gray-600 hover:duration-300 hover:scale-105 overflow-hidden bg-white dark:bg-gray-700 hover:bg-gray-50 ease-in-out shadow-xl border-neutral-200/50 col-span-2 flex flex-col gap-y-10 justify-between">
            <div class="flex flex-col gap-y-3.5">
            <p class="font-bold text-xl">Reliable service uptime</p>
            <p class="font-normal text-gray-500/90 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, 
                a molestiae soluta explicabo alias fugiat, odio ipsa nam at tempore est eum totam, aliquam dolorum iste ratione laudantium quidem dolor.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aperiam.</p>
            </div>
            <div class="flex flex-col">
            <img src="https://randomuser.me/api/portraits/men/90.jpg" alt="Ash Doe" class="h-12 w-12 rounded-full">
            <p class="pt-2 text-sm font-semibold">James White</p>
            <p class="text-sm font-normal text-slate-700/70 dark:text-gray-400">COO at XYZ Corporation</p>
            </div>
        </div>
        </div>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const revealContainers = document.querySelectorAll('.fade-in');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if(entry.isIntersecting) {
                    entry.target.classList.remove('opacity-0', 'translate-y-10');
                    entry.target.classList.add('opacity-100', 'translate-y-0');
                }
            });
            }, {
                threshold: 0.1
            });
            revealContainers.forEach(container => {
                observer.observe(container);
            });
        });
</script>


<style>
</style>